@page "/convert"
@using BenVoxel
@using System.Xml.Serialization
@using System.Text
@using System.Text.Json
@using System.Text.Json.Nodes
@inject IJSRuntime JS

<PageTitle>BenVoxel Converter</PageTitle>

<h1>BenVoxel Converter</h1>

<p>Load a BenVoxel or <MudLink Href="https://ephtracy.github.io/" Target="_blank">MagicaVoxel</MudLink> file to convert to BenVoxel formats.</p>

<MudFileUpload T="IBrowserFile" FilesChanged="LoadFile" Accept=".vox,.ben,.json">
	<ActivatorContent>
		<MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" StartIcon="@Icons.Material.Filled.UploadFile">
			Load Voxel Model File
		</MudButton>
	</ActivatorContent>
</MudFileUpload>
@if (!string.IsNullOrWhiteSpace(Json))
{
	<br />
	<MudButton OnClick="DownloadBenFile" Variant="Variant.Filled" Color="MudBlazor.Color.Primary" StartIcon="@Icons.Material.Filled.FileDownload">
		Download .ben
	</MudButton>
	<MudButton OnClick="DownloadJsonFile" Variant="Variant.Filled" Color="MudBlazor.Color.Primary" StartIcon="@Icons.Material.Filled.FileDownload">
		Download .ben.json
	</MudButton>
	<br />
	<MudTextField T="string" Value=@Json Label="JSON" Variant="Variant.Outlined" Lines="10" ReadOnly="true" Style="font-family: monospace; white-space: pre;" />
}
@if (!string.IsNullOrWhiteSpace(ExceptionMessage))
{
	<br />
	<MudTextField T="string" Value=@ExceptionMessage Label="Exception" Variant="Variant.Outlined" Lines="10" ReadOnly="true" Style="font-family: monospace; white-space: pre;" />
}
<script>
	window.downloadFileFromStream = async (fileName, contentStreamReference) => {
		const arrayBuffer = await contentStreamReference.arrayBuffer();
		const blob = new Blob([arrayBuffer]);
		const url = URL.createObjectURL(blob);
		const anchorElement = document.createElement('a');
		anchorElement.href = url;
		anchorElement.download = fileName ?? '';
		anchorElement.click();
		anchorElement.remove();
		URL.revokeObjectURL(url);
	}
</script>
@code {
	#region Data
	private bool _isLoading = false;
	public bool IsLoading
	{
		get => _isLoading;
		set
		{
			_isLoading = value;
			StateHasChanged();
		}
	}
	private string? _exceptionMessage = null;
	public string? ExceptionMessage
	{
		get => _exceptionMessage;
		set
		{
			_exceptionMessage = value;
			StateHasChanged();
		}
	}
	public void Throw(Exception ex) => ExceptionMessage = ex.GetType().Name + ": \"" + ex.Message + "\"" + Environment.NewLine + ex.StackTrace; 
	public BenVoxelFile? File { get; set; } = null;
	public string? Json { get; set; } = null;
	#endregion Data
	private async void LoadFile(IBrowserFile file)
	{
		IsLoading = true;
		try
		{
			using MemoryStream memoryStream = new();
			await file.OpenReadStream().CopyToAsync(memoryStream);
			memoryStream.Position = 0;
			switch (Path.GetExtension(file.Name).ToLowerInvariant())
			{
				case ".vox":
					File = Voxel2Pixel.Model.SvoModel.FromMagicaVoxel(memoryStream);
					break;
				case ".json":
					File = JsonSerializer.Deserialize<BenVoxelFile>(memoryStream);
					break;
				default:
					File = new BenVoxelFile(memoryStream);
					break;
			}
			Json = JsonSerializer.Serialize(File).TabsJson();
		}
		catch (Exception ex)
		{
			Throw(ex);
		}
		IsLoading = false;
	}
	private async Task DownloadBenFile()
	{
		try
		{
			if (File is null)
				throw new NullReferenceException("No file!");
			using MemoryStream memoryStream = new();
			File.Write(memoryStream);
			memoryStream.Position = 0;
			using DotNetStreamReference streamRef = new(stream: memoryStream, leaveOpen: true);
			await JS.InvokeVoidAsync(identifier: "downloadFileFromStream", ".ben", streamRef);
		}
		catch (Exception ex)
		{
			Throw(ex);
		}
	}
	private async Task DownloadJsonFile()
	{
		try
		{
			if (File is null)
				throw new NullReferenceException("No file!");
			using MemoryStream memoryStream = new();
			memoryStream.Write(Encoding.UTF8.GetBytes(JsonSerializer.Serialize(File).TabsJson()));
			memoryStream.Position = 0;
			using DotNetStreamReference streamRef = new(stream: memoryStream, leaveOpen: true);
			await JS.InvokeVoidAsync(identifier: "downloadFileFromStream", ".ben.json", streamRef);
		}
		catch (Exception ex)
		{
			Throw(ex);
		}
	}
}
