<h3>CuboidOrientationInput</h3>

@code {

}

<table class="table">
	<thead><tr><th>Clockwise</th><th>Counter-Clockwise</th></tr></thead>
	<tbody>
		@foreach (string axis in new string[] { "X", "Y", "Z" })
		{
			<tr>
				<td><button>@axis&#x27F3;</button></td>
				<td><button>@axis&#x27F2;</button></td>
			</tr>
		}
	</tbody>
</table>
