@code {

}

<button name="ClockX">X&#x27F3;</button>
<button name="ClockY">Y&#x27F3;</button>
<button name="ClockZ">Z&#x27F3;</button>
<button name="CounterX">X&#x27F2;</button>
<button name="CounterY">Y&#x27F2;</button>
<button name="CounterZ">Z&#x27F2;</button>
